@import 'base/_fonts';
@import 'base/_colors';
@import 'base/_mixins';
@import 'layout/_header';
@import 'base/_green-icon';

* {
    margin: 0;
}

::-moz-selection, ::selection {
    color: $foreground-primary;
    background: $green-dark;
}

a {
    text-decoration: none;
    color: $foreground-primary;
}

body {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    font-family: $font-primary;
    background-color: $background-primary;
    color: $foreground-primary;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    font-family: $font-secondary;
}