@import 'base/fonts';
@import 'base/colors';
@import 'base/mixins';
@import 'layout/header';
@import 'base/green-icon';
@import 'layout/container';
@import 'base/animations';
@import 'base/green-icon';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/video';
@import 'layout/collections';
@import 'layout/container';
@import 'layout/moving-text';
@import 'layout/tshirt';
@import 'layout/cart';
@import 'components/form';
@import 'components/error';

* {
    margin: 0;
}

::-moz-selection, ::selection {
    color: $foreground-primary;
    background: $green-dark;
}

a {
    text-decoration: none;
    color: $foreground-primary;
}

body {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    font-family: $font-primary;
    background-color: $background-primary;
    color: $foreground-primary;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    font-family: $font-secondary;
}