@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@400;700&display=swap");
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.green-icon {
  color: #5DFF54;
}

header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  height: 65px;
  background-color: #000;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 100;
  border: 1px solid #fff;
  border-style: none none solid none;
}

.header-title {
  gap: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}

.header-user-actions {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.header-action-btn {
  padding: 10px;
  font-weight: 700;
}
.header-action-btn:hover {
  background-color: white;
  color: black;
  transition: 0.2s linear;
}

.spotify-link {
  width: fit-content;
  height: 88px;
  background-color: #1a1a1a;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.spotify-image {
  height: 64px;
  width: auto;
}

.spotify-title {
  font-size: 20px;
}

.spotify-description {
  color: #cacaca;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image-link {
  height: 36px;
  border-radius: 5px;
  padding: 10px;
}
.image-link:hover {
  filter: invert(1);
  transition: 0.15s linear;
  background-color: #000;
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 172px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1920px;
}
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    gap: 50px;
    padding-bottom: 10px;
    height: auto;
    padding-bottom: 50px;
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-text {
  font-size: 16px;
}

.videos-container {
  overflow: hidden;
  height: 500px;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -10;
}

.videos {
  object-fit: cover;
  position: fixed;
  z-index: -11;
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
  height: inherit;
}

.tshirt {
  object-fit: cover;
  width: 360px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tshirt:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  background-color: #fff;
  color: #000;
  filter: drop-shadow(0px -1px 16px #cacaca);
}
.tshirt:hover .price {
  border: 2px solid #000;
  transition: 0.1s ease-in-out;
}
.tshirt:not(hover) {
  transform: scale(1);
  transition: 0.1s ease-in-out;
}

.tshirt-image {
  object-fit: cover;
  width: 320px;
  height: 408px;
  margin-top: 20px;
  border-radius: 10px;
}

.price {
  background-color: white;
  color: black;
  padding: 4px;
  font-size: 20px;
  border-radius: 5px;
  width: fit-content;
  z-index: 10;
  padding: 5px;
}

.tshirt-title {
  font-size: 25px;
}

.price-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: inherit;
  align-items: center;
  padding-top: 10px;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.green-icon {
  color: #5DFF54;
}

.collections-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.collection-title {
  padding-bottom: 20px;
  width: fit-content;
  padding: 7px;
  background-color: #fff;
  color: #000;
  margin-left: 20px;
  margin-right: 20px;
}

.collection-tshirt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: auto;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.scrolling-text {
  width: 100%;
  overflow: hidden;
  height: 44px;
}

#scrolling-text {
  width: 400%;
  display: flex;
  z-index: 15;
  bottom: 44px;
  position: relative;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  height: 44px;
  animation: RightToLeft 30s infinite linear;
  font-family: "Courier Prime", "sans-serif";
  color: #C5FFC1;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.scroller-background {
  background-color: #E9FFCD;
  opacity: 0.5;
  height: 44px;
  font-size: 30px;
}

/*# sourceMappingURL=homepage-main.css.map */
