@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@400;700&display=swap");
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  height: 65px;
  background-color: #000;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1000;
  border: 1px solid #fff;
  border-style: none none solid none;
}

.header-title {
  gap: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}

.header-user-actions {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.header-action-btn {
  padding: 10px;
  font-weight: 700;
}
.header-action-btn:hover {
  background-color: white;
  color: black;
  transition: 0.2s linear;
  cursor: pointer;
}

.green-icon {
  color: #5DFF54;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: auto;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.green-icon {
  color: #5DFF54;
}

header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  height: 65px;
  background-color: #000;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1000;
  border: 1px solid #fff;
  border-style: none none solid none;
}

.header-title {
  gap: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}

.header-user-actions {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.header-action-btn {
  padding: 10px;
  font-weight: 700;
}
.header-action-btn:hover {
  background-color: white;
  color: black;
  transition: 0.2s linear;
  cursor: pointer;
}

.spotify-link {
  width: fit-content;
  min-width: 300px;
  height: 88px;
  background-color: #1a1a1a;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.spotify-link:hover {
  cursor: pointer;
  background-color: #3a3a3a;
}

.spotify-image {
  height: 72px;
  width: auto;
}

.spotify-title {
  font-size: 20px;
}
.spotify-title:hover {
  text-decoration: underline;
}

.spotify-description {
  color: #cacaca;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image-link {
  height: 36px;
  border-radius: 5px;
  padding: 10px;
}
.image-link:hover {
  filter: invert(1);
  transition: 0.15s linear;
  background-color: #000;
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 172px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1920px;
}
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    gap: 50px;
    padding-bottom: 10px;
    height: auto;
    padding-bottom: 50px;
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-text {
  font-size: 16px;
}

.videos-container {
  overflow: hidden;
  height: 500px;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -10;
}

.videos {
  object-fit: cover;
  position: fixed;
  z-index: -11;
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
  height: inherit;
}

.tshirt {
  object-fit: cover;
  width: 360px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tshirt:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.tshirt:hover .tshirt-image {
  filter: drop-shadow(0px 0px 5px #fff);
  transition: 0.2s ease-in-out;
}
.tshirt:not(hover) .tshirt-image {
  filter: drop-shadow(0px 0px 0px #fff);
  transition: 0.2s ease-in-out;
}
.tshirt:not(hover) {
  transform: scale(1);
  transition: 0.1s ease-in-out;
}

.tshirt-image {
  object-fit: cover;
  width: 320px;
  height: 408px;
  margin-top: 20px;
  border-radius: 10px;
}

.price {
  background-color: white;
  color: black;
  padding: 4px;
  font-size: 20px;
  border-radius: 5px;
  width: fit-content;
  z-index: 10;
  padding: 5px;
}

.tshirt-title {
  font-size: 25px;
}

.price-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: inherit;
  align-items: center;
  padding-top: 10px;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.green-icon {
  color: #5DFF54;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.collections-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.collection-title {
  padding-bottom: 20px;
  width: fit-content;
  padding: 7px;
  background-color: #fff;
  color: #000;
  margin-left: 20px;
  margin-right: 20px;
}

.collection-tshirt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: auto;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.scrolling-text {
  width: 100%;
  overflow: hidden;
  height: 44px;
}

#scrolling-text {
  width: 400%;
  display: flex;
  z-index: 15;
  bottom: 44px;
  position: relative;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  height: 44px;
  animation: RightToLeft 30s infinite linear;
  font-family: "Courier Prime", "sans-serif";
  color: #C5FFC1;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.scroller-background {
  background-color: #E9FFCD;
  opacity: 0.5;
  height: 44px;
  font-size: 30px;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  max-width: 80%;
  max-height: 80%;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-image {
  height: 1000px;
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1000;
  margin-bottom: 100px;
}

.close-btn {
  position: relative;
  left: 210px;
  top: 60px;
  color: #cacaca;
  font-size: 40px;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.2s ease-in-out;
}
.close-btn:hover {
  color: white;
  animation: BigToSmall 0.2s;
}

#close-btn-item {
  color: #cacaca;
  font-size: 40px;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  height: fit-content;
  border: 0px;
  font-weight: 700;
}
#close-btn-item:hover {
  color: white;
  animation: BigToSmall 0.2s;
}

.tshirt-container {
  padding: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 80%;
  margin: 100px auto;
}

.tshirt-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 20px;
  height: fit-content;
}

#bottom-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#front-image {
  height: 500px;
  border-radius: 10px;
  width: 400px;
  object-fit: cover;
  cursor: pointer;
}

.bottom-image {
  height: 100px;
  object-fit: cover;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.15s ease-in-out;
}
.bottom-image:hover {
  opacity: 1;
  animation: BigToSmall 0.15s;
}

.bottom-image.active {
  opacity: 1;
  cursor: not-allowed;
}
.bottom-image.active:hover {
  animation: none;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tshirt-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 40px;
  align-self: first baseline;
}

.sizes {
  display: flex;
  margin-bottom: 30px;
  margin-left: 20px;
  gap: 50px;
}

.sizes input[type=radio] {
  display: none;
}

.sizes label {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.sizes label::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff; /* Default border */
  background-color: #d9d9d9; /* Default background */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);
  transition: all 0.1s ease-in-out;
}

.sizes label span {
  position: relative;
  z-index: 1;
  color: #000; /* Default text color */
  transition: color 0.2s ease-in-out;
  font-weight: 700;
  font-size: 20px;
}

/* Hover styles */
.sizes label:hover::before {
  background-color: #000; /* Hover background */
  border: 2px solid #d9d9d9; /* Hover border */
}

.sizes label:hover span {
  color: #fff; /* Hover text color */
}

/* Selected styles */
.sizes input[type=radio]:checked + label::before {
  background-color: #000; /* Selected background */
  border: 3px solid #5DFF54; /* Selected border */
  cursor: not-allowed;
}

.sizes input[type=radio]:checked + label span {
  color: #fff; /* Selected text color */
  cursor: not-allowed;
}

.name-price-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#price {
  background-color: white;
  color: black;
  padding: 4px;
  width: fit-content;
  z-index: 10;
  padding: 5px;
  font-size: 40px;
}

#tshirt-name {
  font-size: 40px;
}

.tshirt-description {
  margin-left: 20px;
}

.tshirt-description li {
  font-size: 23px;
  padding: 5px 0px 5px 0px;
}

.add-to-cart-btn {
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #C5FFC1;
  background: #5DFF54;
  color: #000;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-start;
  transition: all 0.15s ease-in-out;
}
.add-to-cart-btn:hover {
  background-color: #000;
  border: 2px solid #5DFF54;
  color: #fff;
  cursor: pointer;
}
.add-to-cart-btn:active {
  background-color: #C5FFC1;
  border: 2px solid #5DFF54;
  color: #000;
  transition: 0.15s;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 30px;
  margin: 20px;
  border-radius: 30px;
  gap: 10px;
}
.item:hover {
  background-color: #2a2a2a;
}
.item:hover .cart-form {
  background-color: #2a2a2a;
}

.cart-item-img {
  width: 100px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  background-color: #fff;
  color: #000;
  padding: 4px;
  width: fit-content;
  z-index: 10;
  padding: 5px;
  font-size: 25px;
  align-self: right;
}

.item-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 600px;
}

.item-name {
  text-wrap: nowrap;
}

.item-size {
  color: #cacaca;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.remove-btn {
  font-size: 30px;
  color: #cacaca;
  width: auto;
}
.remove-btn:hover {
  color: #fff;
  animation: BigToSmall 0.2s;
  cursor: pointer;
}

#price-total {
  font-size: 35px;
}

@media screen and (max-width: 1000px) {
  .cart-payment {
    margin-top: 10px;
  }
}
.cart-price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cart-form {
  background-color: #1a1a1a;
  height: fit-content;
  padding: 0;
}

.cart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  width: 80%;
  gap: 3px;
  margin: auto;
  max-width: 1500px;
}

.cart-payment {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 30px;
  margin-top: 30px;
  gap: 30px;
  background-color: #1a1a1a;
  align-items: center;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  padding: 30px;
  margin-top: 100px;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
label {
  font-size: 36px;
}

input {
  height: 64px;
  width: 500px;
  font-size: 26px;
  font-family: inherit;
  font-weight: 400;
  padding: 10px;
  outline: none;
  border: none;
  background: none;
  border: 2px #fff solid;
  color: #fff;
  border-radius: 10px;
  padding: 0 10px;
  transition: all 0.15s ease;
}

.form-input {
  position: relative;
}

.input:focus {
  text-align: left;
  transition: 0.1s ease;
  color: #fff;
  border-color: #5DFF54;
}
.input:focus ~ .form-label {
  font-size: 14px;
  bottom: 55px;
  z-index: 30;
}
.input:not(:placeholder-shown) ~ .form-label {
  font-size: 14px;
  bottom: 55px;
  z-index: 30;
}

.form-input:hover input {
  border-color: #C5FFC1;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes BigToSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
form {
  background-color: #000;
  overflow: hidden;
  padding: 50px 35px;
  margin: 0 auto;
}

#names {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.name {
  width: 228px;
}

#register-instead-btn {
  color: #5DFF54;
}

#register-instead-btn:hover {
  color: #C5FFC1;
}

#registerhere {
  font-size: 20px;
}

.form-label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  bottom: 18px;
  background-color: #000;
  padding: 5px;
  cursor: text;
  left: 10px;
  user-select: none;
  z-index: -19;
  transition: all 0.2s ease-in-out;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 110;
  margin-top: 90px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.login-signup-button {
  padding: 10px;
  font-weight: 700;
  width: 200px;
}
.login-signup-button:hover {
  background-color: white;
  color: black;
  transition: 0.2s linear;
  cursor: pointer;
}

.error-message, #password-error {
  color: red;
  font-family: "Inter", "sans-serif";
}

* {
  margin: 0;
}

::-moz-selection, ::selection {
  color: #fff;
  background: #079100;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  font-family: "Inter", "sans-serif";
  background-color: #000;
  color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-family: "Courier Prime", "sans-serif";
}

/*# sourceMappingURL=main.css.map */
